@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif;*/
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(197deg 98% 58%);
    font-family: inherit;
    padding: 30px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    padding: 0 20px;
    margin-right: 10px;
}

.navLink {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.nav-btn {
    border: none;
    background-color: hsl(0, 0%, 100%);
    padding: 15px 25px;
    text-transform: uppercase;
    border-radius: 40px;
    font-family: 'Fraunces', serif;
}

.nav-btn:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(198deg 90% 71%);
}

.first {
    background-image: url('images/desktop/image-header.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
    padding-top: 5%;
    padding-bottom: 0;
    height: 680px;
}

.header-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 4rem;
    font-family: 'Fraunces';
    font-weight: 900;
}

.arrow-icon {
    position: absolute;
    width: 50px;
    top: 40%;
    left: 48%;
    text-align: center;
}

.header-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%;
}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.center-container {
    height: 550px;
    position: relative;
}

.center-container img {
    width: 100%;
    height: 100%;
}

.grid-1,
.grid-4 {
    font-family: 'Fraunces', serif;
    color: #000;
    padding: 100px 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.center-container h1 {
    font-size: 3.4rem;
    font-weight: 900;
}

.center-container h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
}

.center-container p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    color: hsl(213, 9%, 39%)
}

.underline {
    width: 250px;
    height: 12px;
    border-radius: 4px;
    position: absolute;
    top: 80%;
    left: 7%;
    z-index: -1;
}

.yellow {
    background-color: hsl(51, 100%, 49%);
}

.red {
    background-color: hsl(7, 99%, 70%);
}

.graphic-photo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 300px 150px 50px 200px;
    height: 100%;
}

.grid-5 {
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-position: center;
    background-size: cover;
    color: hsl(167, 40%, 24%);
}

.grid-6 {
    background-image: url('images/desktop/image-photography.jpg');
    background-position: center;
    background-size: cover;
    color: hsl(198, 62%, 26%);
}

.grid-6 h3,
.grid-5 h3 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    text-transform: capitalize;
}

.graphic-photo p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 32px;
}

.testimony {
    padding: 10% 2% 4% 4%;
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.testimony-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    font-family: 'Fraunces', serif;
    color: hsl(210, 4%, 67%);
}

.testimonials {
    padding: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.testimonials article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding: 0 20px;
}

.testimonials img {
    border-radius: 50%;
}

.testimonials p {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: hsl(213, 9%, 39%);
    font-weight: bolder;
    line-height: 30px;
    text-align: center;
}

.signature {
    height: 70px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.signature h2 {
    color: black;
    font-family: 'Fraunces';
    font-size: 1.5rem;
}

.signature p {
    color: hsl(210, 4%, 67%);
}

.third-section {
    display: flex;
    flex-flow: row;
}

.third-section img {
    width: 100%;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: #90d4c5;
    height: 300px;
}

footer h2 {
    font-size: 2rem;
    font-weight: 900;
    color: hsla(168, 34%, 41%, 0.966)
}

footer .logo {
    filter: invert(63%) sepia(95%) saturate(776%) hue-rotate( 136deg) brightness(87%) contrast(106%);
}

.social-icons {
    padding: 25px;
}

.img-icons {
    margin-right: 20px;
    fill: hsl(0, 0%, 100%);
    cursor: pointer;
}

.img-icons:hover {
    filter: invert(100%) sepia(100%) hue-rotate(288deg) brightness(135%);
}

.footer-link {
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Barlow';
}

.footer-link:hover {
    color: hsl(0, 0%, 100%);
}